html, body {
    font-family: sans-serif;
    margin:0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 0;
    font-size: 30px;
    color: #355;
    padding-top: 20px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

.header {
    width: 100%;
    height: 200px;
    display: block;
    background-color: #ccc;

    img {
        margin: 0 auto 20px auto;
        width: 100px;
        display: block;
    }
}

.Logout {
    position: absolute;
    top: 70px;
    right: 30px;
    border: 0px;
    background-color: #555;
    color: #00cc66;
    padding: 10px;
    font-size: 16px;
}

ul {
    list-style: none;
    max-height: 500px;
    padding: 0;
    margin: 0;
}

li {
    position: relative;
    border-bottom: 1px solid #dfdfdf;
}

.LoginForm {
    height: 100vh;
    form {
        width: 300px;
        padding-top: 30px;
        margin: 0 auto;
    }

    input[type="text"], input[type="password"] {
        width: 100%;
        padding: 20px 0;
        color: #FFF;
        border: 0;
        background-color: rgba(0,0,0,0);
        border-bottom: 2px solid #FFF;
        font-size: 20px;

        transition: all .2s ease;

        &:focus {
            color :#00cc66;
            border-bottom-color: #00cc66;
            outline: none;
        }
    }

    input[type="submit"] {
        margin: 30px auto;
        display: block;
        border: 0;
        background-color: #00cc66;
        width: 50%;
        color: #FFF;
        font-size: 20px;
        padding: 10px;
    }

    background-color: #555555;
}


.ListingItem {


    position: relative;


    width: 30%;

    transition: all .2s cubic-bezier(0.0, 0.0, 0.2, 1);

    input {
        height: 50px;
        border: 0;
        font-size: 18px;
        width: 200px;
        margin-left: 20px;
        transition: all .2s cubic-bezier(0.0, 0.0, 0.2, 1);
    }

    label {
        opacity: 0;
        height: 0;
        width: 0;
        margin: 0;
        display: block;
        color: #aaaaaa;
        transition: all .2s cubic-bezier(0.0, 0.0, 0.2, 1);
    }

    &-content {
        input {
            width: 200px;
        }
    }

    &.is-active {
        background-color: #f2f2f2;
        width: 100%;
        padding: 20px;

        label {
            opacity: 1;
            height: 20px;
            width: auto;
            margin: 0 20px;
        }

        input {
            width: 300px;
            display: block;
            font-size: 25px;
            padding: 5px;
            margin: 0 20px 60px 20px;
            background-color: rgba(0,0,0,0);
            border-bottom: 2px solid #0E2231;

            &:focus {
                outline: none;
                color: #00cc66;
                border-bottom: 2px solid #00cc66;
            }
        }
    }

    .closeButton {
        width: 70px;
        height: 70px;
        border-radius: 35px;
        border: 0;
        margin: 20px;
        background-color: #00cc66;
        font-size: 40px;
        color: #FFF;
        cursor: pointer;

        transition: all .2s ease;

        &:hover {
            -webkit-filter: brightness(1.1);
            filter: brightness(1.1);
        }
    }

    .deleteButton {
        width: 70px;
        height: 70px;
        border-radius: 35px;
        border: 0;
        margin: 20px;
        margin-right: 60px;
        background-color: #f2777a;
        font-size: 40px;
        color: #FFF;
        float: right;
        cursor: pointer;

        transition: all .2s ease;

        &:hover {
            -webkit-filter: brightness(1.1);
            filter: brightness(1.1);
        }

    }

    .createNew {
        &::-webkit-input-placeholder {
            color: #00cc66;
            opacity: 0.7;
        }
    }
}